<!-- <nav class="navbar navbar-expand-lg bg-primary" id="navStyle" data-bs-theme="dark">
    <div class="container-fluid">

        <button class="navbar-toggler" id="btnNavStyle" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="btn btn-dark ms-3" data-bs-toggle="offcanvas" id="btnNavStyle" href="#offcanvasFiltros" role="button" aria-controls="offcanvasExample">
                        Búsqueda con filtros
                    </a>
                </li>
                <li>
                    <a class="btn btn-dark ms-3" data-bs-toggle="offcanvas" id="btnNavStyle" href="#offcanvasFormulario" role="button" aria-controls="offcanvasExample">
                        Añadir un producto
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav> -->

<nav class="navbar navbar-expand-lg sticky-top" data-bs-theme="dark">
    <div class="container-fluid">

        <a class="navbar-brand ms-5">
            <span>DEVS-Cuentos</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

            <ul class="navbar-nav nav-pills ms-5 justify-content-center">

                <li class="nav-item">
                    <a class="nav-link ms-3" data-bs-toggle="offcanvas" id="btnNavStyle" href="#offcanvasFormulario" role="button" aria-controls="offcanvasExample">
                        Añadir un producto
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link ms-3" data-bs-toggle="offcanvas" id="btnNavStyle" href="#offcanvasFiltros" role="button" aria-controls="offcanvasExample">
                        Búsqueda con filtros
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>